# Q1: Import numpy library

In [1]:
# write your code here ^_^
import numpy as np

# Q2: Generate a sequence of 15 floats using linspace() function

In [5]:
# write your code here ^_^
a= np.linspace(0,15,5)
a

array([ 0.  ,  3.75,  7.5 , 11.25, 15.  ])

# Q3: Create a 3-D array in shape (2, 2, 3) containing the four arrays given below 
Note : the array's name is up to you.

|      |       |          |         |
|------| ----- | -------- | ------- |
|arr1 | 1.1    | 2.1       | 3.1        |
|arr2 | 4.1    | 5.1       | 6.1        |
|arr3 | 7.1    | 8.1       | 9.1        |
|arr4 | 10.1   | 11.1      | 12.1       |

In [20]:
# write your code here ^_^
d3= np.array([
    
    
    
    [
    
    
            [ 1.1,2.1,3.1],
            [ 4.1,5.1,6.1]
        
        
     ],
    
    
     [
    
               [ 7.1,8.1,9.1],
            [10.1,11.1,12.1]
    
    ],
    
    
    ])

d3

array([[[ 1.1,  2.1,  3.1],
        [ 4.1,  5.1,  6.1]],

       [[ 7.1,  8.1,  9.1],
        [10.1, 11.1, 12.1]]])

# Q4: Print the following:
Note: use the same array from Q3.
- Array's type.
- Array's elements datatype.
- Array's shape.
- Array's size.
- Array's dimention.

In [21]:
# write your code here ^_^

print(type(d3))
print(d3.dtype.name)
print(d3.shape)
print(d3.size)

<class 'numpy.ndarray'>
float64
(2, 2, 3)
12

# Q5:  Change the array dimention from 3-D to 4-D
Note: use the same array from Q3.
- Create a new array to hold the changes. 
- Print the new array's dimention and shape.

In [24]:
# write your code here ^_^
d4= d3.reshape(1,2,2,3)
d4

array([[[[ 1.1,  2.1,  3.1],
         [ 4.1,  5.1,  6.1]],

        [[ 7.1,  8.1,  9.1],
         [10.1, 11.1, 12.1]]]])

# Q6: Change the array's elements datatype to integer  
Note: use the same array from Q5.

- Create a new array to hold the changes. 
- Print the new array.

In [31]:
# write your code here ^_^

d4_new= d4.astype(int)
d4_new

8

# Q7: Print all array's elements using for loop
Note: use the same array from Q6.

Hint: use nditer()

In [27]:
# write your code here ^_^

for x in np.nditer(d4_new):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12

# Q8:  Print number 8 using array slicing
Note: use the same array from Q6.

In [32]:
# write your code here ^_^

print(d4_new[0,1,0,1])

8

# Q9: Print number 5 and number 6 using array slicing
Note: use the same array from Q6.

In [39]:
# write your code here ^_^
d4_new[0,0,1,1:3]

array([5, 6])

# Q10: Search for number 8 using where()
Note: use the same array from Q6.

Note: where() is only used with small data.

*the output represents the path of the index that leads to number 8*

In [42]:
# write your code here ^_^

Q10=np.where(d4_new==8)

print(Q10)

print(d4_new[Q10])

(array([0], dtype=int64), array([1], dtype=int64), array([0], dtype=int64), array([1], dtype=int64))
[8]

# Q11: Reshape the array as the following

    array([[[ 1, 2],
            [ 3,  4],
            [ 5,  6]],

           [[ 7,  8],
            [ 9, 10],
            [11, 12]]])
            
 Note: use the same array from Q6.

In [43]:
# write your code here ^_^

d4_new.reshape(2,3,2)

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]]])

# Q12: Join the given arrays below 
    arr1 = np.array([['A', 'B'], ['E', 'F']])
    arr2 = np.array([['C', 'D'], ['G', 'H']])
## Q12.1: Join the arrays without specifying the axis

In [56]:
# write your code here ^_^

arr1 = np.array([['A', 'B'], ['E', 'F']])
arr2 = np.array([['C', 'D'], ['G', 'H']])
q12=np.vstack((arr1,arr2))
q12

array([['A', 'B'],
       ['E', 'F'],
       ['C', 'D'],
       ['G', 'H']], dtype='<U1')

# Q12.2: Join the arrays along rows with axis = 1

In [49]:
# write your code here ^_^

np.hstack((arr1,arr2))

array([['A', 'B', 'C', 'D'],
       ['E', 'F', 'G', 'H']], dtype='<U1')

# Q13: Split the array into two arrays with axis = 1, each array should contain four arrays. 
Note: use the same array from Q12.1

In [62]:
# write your code here ^_^
[a,b,c,d]= np.vsplit(q12,4)

print(a)
print(b)
print(c)
print(d)

[['A' 'B']]
[['E' 'F']]
[['C' 'D']]
[['G' 'H']]